@import './abstract/base';
*{
    transition-property: background-color, color, box-shadow;
    transition-duration: .25s;
}
    
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.calculator{
    width: 90%;
    max-width: 340px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        font-size: 0.8rem;
    }
    &__theme{
        width: 54px;
        height: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 4px;

        button {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            position: absolute;
            left: "9%";
        }

        &::before{
            content: 'THEME';
            font-size: .3rem;
            position: absolute;
            left: -50px;
            letter-spacing: 1px;
        }

        &::after{
            content: '1 2 3';
            font-size: .3rem;
            position: absolute;
            top: -14px;
            left: 8px;
            word-spacing: 11px;
        }
    }

    &__display{
        height: 90px;
        border-radius: 7px;
        padding-right: 20px;

        display: flex;
        align-items: center;
        justify-content: end;

        margin: 20px 0;
    }

    &__keys{
        padding: 24px 20px;
        height: 340px;
        border-radius: 7px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;

        & button{
            border-radius: 7px;
            padding-top: 5px;

            &#Backspace , &.key_equal {
                grid-column: span 2;
            }
            
            &.key__text{
                font-size: .6rem;
                padding: 0;
            }

            &.key_equal{
                font-size: .6rem;
                padding: 0;
            }
        }
    }
}

